<?xml version="1.0" encoding="UTF-8" ?>	
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">	
 	<suite name="TestngSuite">	
 	    <listeners>
            <listener class-name = "com.reporter.CustomReporter" />
        </listeners>
		<test name="TestngTest">	
			<classes>	
					<class name="com.test.LoginTest" />
					<class name="com.test.ProfileTest" />
					<class name="com.test.AddProductTest" />
           	</classes>	
		</test>	
    </suite>